Package: com.ttlongdl.aboutspoof
Name: AboutSpoof
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Cosmetic model-name spoof for Settings > General > About. Does not modify MobileGestalt on disk.
Maintainer: ttlongdl
Author: ttlongdl
Section: Tweaks
Depends: mobilesubstrate
