Package: com.ttlongdl.aboutspoof
Name: AboutSpoof
Version: 0.2.1
Architecture: iphoneos-arm64
Description: Cosmetic custom Model Name spoof for Settings > General > About.
Maintainer: ttlongdl
Author: ttlongdl
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
